*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background:linear-gradient(to bottom, #211920, #860594);
     background-repeat: no-repeat;
     height: 100%;
 
 }
 header{
     display: flex;
     background-color: #c1a1be;
     justify-content: space-between;
     width: 100%;
     height: 60px;
     padding: 0rem 1rem 0rem 1rem;
     align-items: center;
     }
 header picture {
     height: 3rem;
     width: 3rem;
     }
     #logo{
         border-radius: 50%;
         width: 100%;
         height: 100%;
 
     }
 nav {
     display:flex;
 }
 ul { 
     list-style: none;
     display: flex;
     gap: 20px;
 }
 nav ul li a{
     color: rgb(254, 249, 255);
     text-decoration: none;
 }
 nav ul li a:hover{
     font-weight:bold ;
 }
 main{
     display: flex;
     justify-content: center;
     padding: 2rem 2rem 2rem 2rem;
     align-items: center;
     gap: 5rem
 }
 main section{
     padding: 2rem;
     border-radius: 3rem;
     background:scroll(to bottom, #d2a8d2, #7d0d7d);
 }
 main section h1{
     font-family:fantasy;
     font-size: 2rem;
     font-weight: 200;
 }
 main section p{
     margin-top: 1rem;
     margin-bottom: 1rem;
     } 
     main section div{
         display: flex;
         justify-content: center;
         gap: 1rem;
     }
     main section div button{
         background-color: rgb(245, 239, 244);
         padding: 1rem 2rem;
         border-radius: 2rem;
         color: rgb(39, 26, 33);
     }
     main section div button:hover{
         background-color: rgb(0, 0, 0);
     }
     main picture{
     width: 30rem;
     height: 30rem;
     }
     main picture img{
         width: auto;
         height: auto;
         border-radius: 50%;
     }
     .about{
         display: flex;
         padding: 1rem;
          }
          .about p {
             background:linear-gradient(to bottom, #3c3a3c, #c117c1);
             padding: 2rem;
             border-radius: 50rem;
             }
          article picture img{
            width: 200px;
          }
          aside{
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          cursor: default;
          }
        
        #tarjeats > h2 {
          font-size: 2.5rem;
          text-shadow: rgb(0, 0, 0) 2px 2px 3px;
          text-align: center;
        }
        
        #tarjetas > p {
          font-size: 1.1rem;
          text-align: center;
          text-shadow: rgb(17, 0, 11) 2px 2px 3px;
          opacity: 0.6;
          margin-bottom: 10%;
        }
        
        #tarjetas > aside {
          display: flex;
          flex-flow: row wrap;
          flex-shrink: 0;
          justify-content: space-around;
          align-items: center;
          margin: 0%;
          gap: 2px;
        }
        
        #tarjetas > aside > article {
          display: flex;
          position: relative;
          flex-direction: column;
          min-width: 300px;
          max-width: 300px;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 20px;
          border: 2px solid transparent;
          border-radius: 20px;
          transition: 500ms all ease-in-out;
        }
        
        #tarjetas > aside > article:hover {
          transform: scale(1.1);
          transition: 300ms all;
          border: 2px solid;
        }
        
        #tarjetas > aside > article > picture {
          width: 50%;
          height: 50%;
          padding-bottom: 50px;
        }
        
        #tarjetas > aside > article > picture > img {
          width: 100px;
        }
        
        #tarjetas > aside > article > h3 {
          font-size: 1.4rem;
          text-transform:lowercase;
          padding-bottom: 10px;
          position: relative;
        }
        
        #tarjetas > aside > article > h3::before {
          content: "";
          bottom: 10px;
          left: 0;
          width: 0;
          height: 3px;
          background-color: rgb(62, 10, 41);
          position: absolute;
          transition: all 300ms;
        }
        
        #tarjetas > aside > article:hover h3::before {
          width: 100%;
          transition: all 300ms;
        }
        
        #tarjetas > aside > article > p {
          font-size: 1rem;
        }
     #tarjetas {
      padding-bottom: 100px;
     }
     #contact {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    #contact > article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
    }
    
    #contact > article > h2 {
      font-size: 2.5rem;
      text-shadow: rgb(92, 3, 78) 2px 2px 3px;
      text-transform: uppercase;
      cursor: default;
    }
    
    #contact > aside {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: row wrap;
    }
    
    #contact > aside > form > p {
      font-size: 1.75rem;
      text-transform: uppercase;
      cursor: default;
    }
    
    #contact > aside > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #contact > aside > form > label {
      font-size: 1.2rem;
      margin-top: 25px;
      opacity: 0.6;
    }
    
    #contact > aside > form > input {
      background-color: transparent;
      border: none;
      color: rgb(96, 21, 88);
      width: 300px;
      height: 40px;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 2px solid;
      border-radius: 5px;
      font-family: "Outfit" !important;
      transition: 150ms all;
    }
    
    #contact > aside > form > input:focus {
      outline: none;
      box-shadow: rgb(69, 22, 53) 0px 0px 10px;
      transition: 150ms all;
    }
    
    #contact > aside > form > input::placeholder {
      color: rgb(15, 5, 16);
      font-family:Arial, Helvetica, sans-serif
    }
    
    #contact > aside > form > fieldset {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      display: flex;
      margin-top: 20px;
      color: #7d0d7d;
    }
    
    #contact > aside > form > fieldset > button {
      background-color:rgb(15, 5, 16);
      border: none;
      border: 1px solid rgb(1, 0, 2);
      color: rgb(255, 255, 255);
      padding: 10px 20px;
      border-radius: 5px;
      transition: 200ms all;
      font-family: "Outfit";
      cursor:auto
    }
    
    #contact > aside > form > fieldset > button:hover {
      background-color: rgb(94, 12, 177);
      color: rgb(35, 32, 34);
      scale: 1.15;
      transition: 0.5s all;
    }
     footer > picture > img {
      width: 1rem;
      border-radius: 10%;
    }
    footer {
      background-color:#ff00e6 rgb(19, 16, 19);
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    footer > h4 {
      font-size: 1.25rem;
      text-shadow: rgb(49, 8, 33) 2px 2px 3px;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-align: center;
    }
    footer > picture img{
      width: 500px;
    }
    @media (max-width: 1366px) {
      #datacards {
        padding-top: 600px;
        padding-bottom: 450px;
      }
     #contact > aside > iframe {
        width: 450px;
      }
    }
    
    @media (max-width: 1280px) {
      #burguer-form {
        display: flex;
      }
    #nav-mobile::backdrop {
        backdrop-filter: blur(3px);
        top: calc(54px);
      }
    

       }
    
      #nav-header {
        display: none;
      }
    
      header {
        justify-content: space-around;
      }
    
      #contact > aside > iframe {
        width: 350px;
      }
    
    @media (max-width: 1024px) {
      #contact {
        padding-top: 55px;
      }
    }
    
    @media (max-width: 900px) {
      #info-section {
        padding-bottom: 100px;
      }
    }
    
    @media (max-width: 768px) {
      #info-section {
        padding-bottom: 175px;
      }
    
    @media (max-width: 550px) {
        position: fixed;
        display: flex;
        right: 0;
        width: 200px;
        height: 400px;
        left: 75vw;
        top: calc(55px);
        animation: openburguer 500ms forwards ease-in-out;
      }

     #tarjetas {
        padding-top: 650px;
        padding-bottom: 1150px;
      }
    
      #info-section {
        padding-top: 100px;
      }
    
      #info-section > article {
        margin: 0 25px;
      }
    
      #tarjetas> h2 {
        font-size: 2rem;
        padding-top: 500px;
      }
      
      #tarjetas > p {
        font-size: 1rem;
        padding-bottom: 75px;
      }
      
      #tarjetas > aside > article {
        min-width: 300px;
        max-width: 300px;
      }
      
      #contact {
        padding-top: 250px;
        margin-bottom: 200px;
      }
    
      #contact > aside > iframe {
        width: 350px;
        padding-top: 50px;
      }
    
      footer > picture > img {
        width: 200px;
      }
    
      footer > h4 {
        font-size: 1rem;
       }
    
    @media (max-width: 350px) {
        position: fixed;
        display: flex;
        right: 0;
        width: 200px;
        height: 400px;
        left: 75vw;
        top: calc(55px);
        animation: openburguer 500ms forwards ease-in-out;
      }
      ##tarjetas > aside > article {
        min-width: 275px;
        max-width: 275px;
      }
     #contact > aside > iframe {
        width: 350px;
        margin-top: 50px;
        padding: 15px 20px;
         }